{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}

<h1>{{ part.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post" action="">
	{% csrf_token %}
	<div class="row">
		<div class="container">
			<div class = "col-md-4">
				{% bootstrap_form part_form %}
				{% buttons %}
					<button type="submit" class="btn btn-primary">
						{% bootstrap_icon "star" %} Submit
					</button>
				{% endbuttons %}
			</div>
		</div>
	</div>
</form>
{% endblock %}