{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}
<style class="text/css">
	body {
		  padding-top: 60px;
		}
		@media (max-width: 968px) {
		  body {
			padding-top: 0px;
		  }
		}		
</style>


{% block title %}Change Password{% endblock %}

{% block toggle_login %}{% endblock %}

{% block heading %}
<h2>Change Password</h2>
{% endblock %}


{% block content %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

<div class="container">
<div class="row" >
<div class="col-md-4 col-md-offset-4">
<h1>Change Password</h1>
<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}" accept-charset="utf-8">

{% bootstrap_form form %}
{% csrf_token %}
{% buttons %}
	<button class="btn btn-lg btn-primary btn-block" type="submit" />
	{% bootstrap_icon "star" %} Change Password
{% endbuttons %}
</form>
</div>
</div>
</div>
{% endblock %}